/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: white; // Use color black for yellow
    padding: .75rem 1.5rem;
    border-radius: .3rem; 
    font-weight: var(--font-semi-bold);
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color);
        color: var(--first-color-lighten);
        border: solid 1px var(--text-color-light); 

    }

    &__header{
        display: none;
    }

    &-link{
        background: none;
        padding: 0.5rem .7rem;
        color: var(--text-color);
        border: solid 1px var(--text-color);
        margin-left: 3rem;
        width: 170px;
        &:hover{
            background-color: var(--first-color-alt);
        }
        &:nth-child(odd) {
            visibility:hidden;
        }
    }

    &-flex{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        padding: .75rem 1rem;
    }

    &__icon{
        font-size: 1.5rem;
    }
    
}