/*=============== SERVICES ===============*/
.services{
    &__container{
    
        padding-top: 1rem;
        color: var(--title-color);
    }

    &__data{
        display: block;
        row-gap: 1rem;
        background-color: var(--container-color);
        box-shadow: 0.5px 4.5px 3.5px 5px hsla(var(--hue), 100%, 15%, 0.15);
        padding: 2rem 1.5rem;
        border-radius: 1rem;
        text-align: center;
        width: 100%;
        font-size:.9em;
    }
    &__img{
        width: 135px;
        justify-self: center;
        margin-bottom: var(--mb-0-5);
    }
    .cart_name {
        display: grid;
        grid-template-columns: 70px 1fr 1fr 20px;
        align-items: center;
        text-align: left;
    }

    .cart_name img {
        width: 70%;
    }
    
    .cart_logo {
 
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1rem;
        &__img {
            width: 103px;
            height: 30px;
            
        }
    }
    .cart_logo img {
        width: 140px;
        height: 26px;
    }
    .save_reset_btn  {
        display: block;
        justify-content: end;
    
    }

}